<ion-view title="Login">
    <ion-content padding="true" scroll="false">

      <form class="list">
          <ion-list>
              <label class="item item-input required">
                  <span class="input-label">Email:</span>
                  <input type="email" required>
              </label>
              <label class="item item-input required">
                  <span class="input-label">Password:</span>
                  <input type="password" required>
              </label>
          </ion-list>
          <button ui-sref="scanning" class="button button-balanced button-block">Log in</button>
          <a ui-sref="password-reset" class="button button-positive button-clear button-block ">I don't know my password</a>
      </form>

    </ion-content>
</ion-view>
