<ion-view title="Welcome">
  <ion-content padding="true">
    <form class="list">
      <a ng-click="loginOAuth('facebook')" class="button button-positive button-block icon-left ion-social-facebook">Use Facebook account</a>
      <a ng-click="loginOAuth('google')" class="button button-assertive button-block icon-left ion-social-google">Use Google account</a>
      <a ui-sref="createAccount" class="button  button-block ">Use Jumping account</a>
    </form>

    <h1>User info</h1>
    <ul>
      <li>provider: {{ user.provider }}</li>
      <li>email: {{ user.email }}</li>
      <li>password: {{ user.password }}</li>
      <li>name: {{ user.name }}</li>
      <li>weight: {{ user.weight }}</li>
      <li>birthday: {{ user.birthday }}</li>
      <li>gender: {{ user.gender }}</li>
      <li>units: {{ user.units }}</li>
    </ul>

  </ion-content>
</ion-view>
