<ion-view title="Welcome">
  <ion-content padding="true" class="welcome">

    <img src="img/logo.png" alt="logo">

    <div class="buttons">
      <a ng-click="loginFacebook()" class="button button-positive button-block icon-left ion-social-facebook">Use Facebook account</a>
      <a ng-click="loginGoogle()" class="button button-assertive button-block icon-left ion-social-google">Use Google account</a>
      <a ui-sref="create-account" class="button button-balanced button-block">Use Jumping account</a>

      <!-- tmp dev links -->
      <!-- <a ui-sref="scanning" class="button button-block button-clear">Skip to scanning</a> -->
      <!-- <a ui-sref="main.jumping" class="button button-block button-clear">Skip to main</a> -->
    </div>

  </ion-content>
</ion-view>
