#svg
    transform-origin: center
    transform:  rotate(-90deg)

    #bar
        stroke: transparent
        transition: stroke-dashoffset 1s linear
        stroke-width: 0.1em

        &.bronze
            stroke: #cd7f32

        &.silver
            stroke: #c0c0c0

        &.gold
            stroke: #D3AF37

.score
    position: relative

    &__bar
        position: absolute
        width: 100%

        &--first
            top: 106px
        &--second
            top: 91px
        &--third
            top: 76px

#confetti
    background: transparent
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh




