@import "variables";

// ionic components overrides ----------------------------------------------------------------------

.pane {
  background: $base-background-color url('../img/background.jpg') no-repeat center fixed;
  background-size: cover;

  // &:before {
  //   content: " ";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   height: 44px;
  //   background-color: red;
  // }
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

// tabs
.tabs-balanced>.tabs {
  background-color: rgba($balanced, $bar-transparency) !important;

  // add borders on iOS
  .platform-ios & {
    padding-top: 0;
    border-top: 1px solid rgba($balanced, .4) !important;
    .tab-item {
      padding-top: 2px;
    }
    .tab-item-active {
      padding-top: 0px;
      border-top: 2px solid $balanced !important;
    }
  }
}
.platform-android .tab-title {
  padding-left: 1em;
  font-size: .8rem;
}

// nav bar
.platform-ios .bar {
  border-bottom: 1px solid rgba($balanced, .4) !important;
}

// because of statusbar
.platform-ios .scroll-content:not(.has-header) {
  padding-top: 1rem;
}

// popup
.popup, .popup-title, .popup-sub-title, .popup-body {
  color: #000;
}
.popup-head {
  border-bottom: 1px solid $dark;
}

// button-bar inside list
.list .item-input .button-bar {
  flex-basis: 65%;
  padding-right: $padding-large-horizontal;
}

form {
  .required .input-label::after {
    content: "*";
    color: $assertive;
    margin-left: .2em;
  }

  .invalid {
    box-shadow: inset 0 0 0 1000px rgba($assertive, .15);
    border-bottom: 3px solid $assertive;
    padding-bottom: $padding-base-vertical - 3px;
    .input-label, .ng-invalid {
      color: $assertive;
    }
  }

  .validation {
    color: $assertive;
  }

}



// custom views ------------------------------------------------------------------------------------

.shadow {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.welcome {
  $height: 400px;
  text-align: center;
  position: absolute;
  top: 60%;
  height: $height;
  max-width: 400px;
  margin: -$height/2 auto 0;

  .buttons {
    animation: fadeIn 2s;
  }
}

.scanning {
  text-align: center;

  .status {
    margin-top: 2rem;
    .text {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      font-size: 2rem;
      line-height: 1.4em;
      margin: 1em 0;
    }
  }

  .ignored {
    margin-top: 3rem;
    &.ng-enter {
      animation: fadeIn 1s;
    }
    &.ng-leave {
      animation: fadeOut .5s;
    }
  }
}

.pairing {
  text-align: center;
  .color {
    .step {
      font-size: .8rem;
      margin: 1em 0;
    }
    .led {
      width: 5em;
      height: 5em;
      border-radius: 5em;
      margin: 2em auto;
      border: 1px solid rgba(0,0,0,0.4);
      animation: infinite pulse 2s;
    }
    .question {
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
      font-size: 2rem;
      line-height: 1.4em;
      margin: 1em 0;
    }
  }
}

.jumping, .lesson {
  text-align: center;
  .reconnecting {
    position: absolute;
    display: block;
    padding: 1rem;
    width: 200px;
    top: 30%;
    left: 50%;
    margin-left: -100px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: $border-radius-large;
  }
  .label {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    font-size: 1.2rem;
  }
  .score, .time {
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    font-size: 3rem;
    line-height: 1.4em;
    margin-bottom: 1rem;
  }
  .score {
    font-size: 5rem;
    transition: transform .1s ease-out;
    &.fresh {
        transform: scale(1.4);
    }
  }
}

.history {
  .no-lessons {
    text-align: center;
  }
}
