.bar {	
	@extend .bar-dark;
}

.menu {
	@extend .dark-bg;
	.bar {
		background: lighten($dark, 8%);
	}
	.item {
		@extend .item-dark;
	}
}



/* main ======================================================================================== */

.transparent .bar {
	background: none;
}

.home {
	background: url('../img/background.jpg') no-repeat center center;
	background-size: cover;
	color: white;

	.pane {
		position: absolute;
		background: none;
	}

	.performance {
		position: absolute;
		width: 100%;
		top: 15%;
		padding: 0 5%;
		text-align: center;
		.description {
			text-shadow: 0 0 4px rgb(0, 0, 0);
			font-size: 1.8em;
			line-height: 1.5em;
		}
		.result {
			text-shadow: 0 0 2px rgb(0, 0, 0);
			@import url(https://fonts.googleapis.com/css?family=Montserrat:700); // TODO download font
			font-family: Montserrat;
			font-size: 10em;
			line-height: 1em;
		}
	}
}