.led {
  width: 5em;
  height: 5em;
  border-radius: 5em;
  margin: 1em auto;
  border: 1px solid rgba(0,0,0,0.4);
  // TODO pulsing box shadow
}

.list .button-bar {
  flex: 1 0 100px;
  margin-right: 44px;
}

.required .input-label::after {
  content: "*";
  color: red;
  margin-left: .2em;
}

.ignoredDevices {
  margin-top: 5em;

  &.ng-enter {
    animation: fadeIn 1s;
  }

  &.ng-leave {
    animation: fadeOut .5s;
  }
}
