<ion-view title="FXE">
  <ion-content padding="true" class="jumping" ng-class="running ? 'running' : 'not-running'">

    <div ng-hide="running">
      <img src="img/logo.png" alt="logo" class="logo">
    </div>

    <div ng-hide="!running">
      <div class="label">Your score:</div>
      <div class="score" animate-on-change="lesson.score | sumScore">{{ lesson.score | sumScore | number:0 }}</div>
      <div class="label">Time:</div>
      <div class="time">{{ getDuration() | msToTimeSpan }}</div>
    </div>

    <div ng-hide="connected" class="reconnecting">
      <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      <p ng-switch on="status">
        <span ng-switch-when="reconnecting">Reconnecting</span>
        <span ng-switch-when="enabling">Enabling bluetooth</span>
        <span ng-switch-when="scanning">Scanning</span>
        <span ng-switch-when="connecting">Connecting</span> ...
      </p>
    </div>

    <div class="button-bar" ng-hide="running">
      <button ng-disabled="!connected" ng-click="changeType(1)" ng-class="{'button-outline button-dark': type != 1}" class="col button button-small button-balanced">jumping</button>
      <button ng-disabled="!connected" ng-click="changeType(2)" ng-class="{'button-outline button-dark': type != 2}" class="col button button-small button-royal">running</button>
    </div>

    <button ng-click="start()" ng-hide="running" ng-disabled="!connected" ng-class="{'button-balanced': type == 1, 'button-royal': type == 2}" class="ion-ios-play start-stop start button button-block button-large icon-left">Start</button>
    <button ng-click="stop()" ng-hide="!running" ng-disabled="!connected" class="ion-stop button-assertive start-stop stop button button-block button-large icon-left">End lesson</button>
    <button ng-click="join()" ng-hide="running" ng-disabled="!connected" class="button button-dark button-block button-large button-outline icon-left ion-person-stalker">Join event</button>

  </ion-content>
</ion-view>
