<ion-view title="FXE">
  <ion-content padding="true" class="jumping" ng-class="running ? 'running' : 'not-running'">

    <div ng-hide="running">
      <img src="img/logo.png" alt="logo" class="logo">
    </div>

    <div ng-hide="!running">
      <div class="label">Your score:</div>
      <div class="score" animate-on-change="lesson.score | sumScore">{{ lesson.score | sumScore | number:0 }}</div>
      <div class="label">Time:</div>
      <div class="time">{{ getDuration() | msToTimeSpan }}</div>
    </div>

    <div ng-hide="connected" class="reconnecting">
      <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      <p ng-switch on="status">
        <span ng-switch-when="reconnecting">Reconnecting</span>
        <span ng-switch-when="enabling">Enabling bluetooth</span>
        <span ng-switch-when="scanning">Scanning</span>
        <span ng-switch-when="connecting">Connecting</span> ...
      </p>
    </div>


    <button ng-click="start()" ng-hide="running" ng-disabled="!connected" ng-class="{'button-balanced': type == 1, 'button-royal': type == 2}" class="ion-ios-play start-stop start button button-block icon-left">Start</button>
    <button ng-click="stop()" ng-hide="!running" ng-disabled="!connected" class="ion-stop button-assertive start-stop stop button button-block button-large icon-left">End lesson</button>

    <div class="button-bar" ng-hide="running">
      <button ng-disabled="!connected" ng-click="changeType(1)" ng-class="{'button-outline button-dark': type != 1}" class="button button-balanced">jumping</button>
      <button ng-disabled="!connected" ng-click="changeType(2)" ng-class="{'button-outline button-dark': type != 2}" class="button button-royal">running</button>
    </div>

    <button ng-click="showEvents($event)" ng-hide="running" ng-disabled="!connected" class="button button-block icon-left ion-person-stalker" ng-class="{'button-outline button-dark': !event, 'button-balanced': type == 1, 'button-royal': type == 2}">
      {{ event ? event.name : 'Join event' }}
    </button>

  </ion-content>
</ion-view>

<script id="events.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Join event</h1>
      <div class="buttons">
        <button class="button" ng-click="joinEvent(null)">Cancel</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-click="joinEvent(event.id)" ng-repeat="event in events track by event.id">
          {{ event.name }}
        </ion-item>
        <ion-item ng-hide="events.length" class="no-result">
          No events found.
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>
