<ion-view>
  <ion-tabs class="tabs-striped tabs-background-balanced tabs-color-light" ng-class="platform == 'android' ? 'tabs-icon-left' : 'tabs-icon-top'">
    <ion-tab title="Start" icon="ion-ios-pulse-strong" href="#/main/jumping">
      <ion-nav-view name="start"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Me" icon="ion-person" href="#/main/history" class="me">
      <ion-nav-view name="me"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friends" icon="ion-podium" href="#/main/friends">
      <ion-nav-view name="friends"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-android-settings" href="#/main/settings">
      <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
