<ion-view>
  <ion-tabs class="tabs-balanced" ng-class="platform == 'android' ? 'tabs-icon-left' : 'tabs-icon-top'">
    <ion-tab title="Jump!" icon="ion-ios-pulse-strong" ui-sref="main.jumping">
      <ion-nav-view name="jump"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Me" icon="ion-person" ui-sref="main.history">
      <ion-nav-view name="me"></ion-nav-view>
    </ion-tab>
    <!-- <ion-tab title="Scoreboard" icon="ion-podium" href="#/main/friends">
      <ion-nav-view name="scoreboard"></ion-nav-view>
    </ion-tab> -->
    <ion-tab title="Settings" icon="ion-android-settings" ui-sref="main.settings">
      <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
