<ion-view title="{{ user.name }}">
  <ion-content padding="true" class="history">

    <h2 class="shadow text-center">Your recent activity</h2>
    <canvas class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels" chart-options="
      {
        barStrokeWidth: 1,
        barValueSpacing: 2,
        scaleShowVerticalLines: false,
      }
    "></canvas>

    <div class="card list">
      <div class="item item-divider">
        History
      </div>
      <a class="item dark" ui-sref="main.lesson({startTime: lesson.startTime})" ng-repeat="lesson in lessons track by lesson.startTime" ng-class="{'first': $first}">
        <h2 class="dark">Lesson {{ ::lesson.startTime | date:'short' }}</h2>
        <strong>{{ ::lesson.score | number:0 }} points</strong>, {{ ::lesson.duration | msToTimeSpan }}
      </a>
      <p class="item dark no-result" ng-hide="lessons.length">No lesson found, go jumping!</p>
    </div>


  </ion-content>
</ion-view>
