<ion-view title="{{ user.name }}">
  <ion-content padding="true" class="history">

    <div class="row button-bar range-bar">
      <button ng-click="changeRange('week')" ng-class="{'button-outline': shifted || range != 'week'}" class="col button button-light">week</button>
      <button ng-click="changeRange('month')" ng-class="{'button-outline': shifted || range != 'month'}" class="col button button-light">month</button>
      <button ng-click="changeRange('year')" ng-class="{'button-outline': shifted || range != 'year'}" class="col button button-light">year</button>
    </div>
    <div class="row button-bar date-bar">
      <button ng-click="shiftRange(-1)" class="col col-10 button button-outline button-light icon ion-chevron-left"></button>
      <button ng-click="changeDate()" ng-class="{'button-outline': !shifted}" class="col button button-light">{{ startDate | date:'shortDate' }} – {{ endDate | date:'shortDate' }}</button>
      <button ng-click="shiftRange(1)" class="col col-10 button button-outline button-light icon ion-chevron-right"></button>
    </div>

    <canvas class="chart chart-bar" chart-data="chartData" chart-labels="chartLabels" chart-options="
      {
        barStrokeWidth: 1,
        barValueSpacing: 1,
        scaleShowVerticalLines: false,
        scaleFontSize: 8,
        animationSteps: 30,
      }
    "></canvas>

    <div class="card dark averages">
      <div class="item item-divider">
        Averages
      </div>

      <div class="row">
        <div class="col">Score:</div>
        <div class="col">Time:</div>
      </div>
      <div class="row">
        <div class="col"><span class="score">{{ average.score | number:2 }}</span></div>
        <div class="col"><span class="time">{{ average.duration | msToTimeSpan }}</span></div>
      </div>

    </div>

    <div class="card list">
      <div class="item item-divider">
        History
      </div>
      <a class="item dark" ui-sref="main.lesson({startTime: lesson.startTime})" ng-repeat="lesson in lessons track by lesson.startTime" ng-class="{'last': $first}">
        <h2 class="dark">Lesson {{ ::lesson.startTime | date:'short' }}</h2>
        <strong>{{ ::lesson.score | number:0 }} points</strong>, {{ ::lesson.duration | msToTimeSpan }}
      </a>
      <p class="item dark no-result" ng-hide="lessons.length">No lesson found, go jumping!</p>
    </div>

  </ion-content>
</ion-view>
