<ion-view title="Lesson {{ ::lesson.start | date:'short' }}">
  <ion-content padding="true" class="lesson">

    <div class="info">
      <div class="label">Your score:</div>
      <div class="score">{{ ::lesson.score | number:0 }}</div>
      <div class="label">Time:</div>
      <div class="time">{{ ::lesson.duration | msToTimeSpan }}</div>
    </div>

    <nvd3 options="chartOptions" data="chartData"></nvd3>
    <!-- <canvas class="chart chart-line" chart-data="chartData" chart-labels="chartLabels" chart-options="
      {
        tooltipTemplate: '<%= value.toFixed(0) %>',
        scaleOverride: true,
        scaleSteps: 5,
        scaleStepWidth: 10,
        scaleStartValue: 0,
      }
    "></canvas> -->

    <button class="button button-balanced icon ion-share share" ng-click="share()"> Share</button>

  </ion-content>
</ion-view>
