<ion-view title="{{ ::lesson.type == 1 ? 'Jumping' : 'Running' }} {{ ::lesson.start | date:'short' }}">
  <ion-content padding="true" class="lesson">

    <div class="info">
      <div class="label">Your score:</div>
      <div class="score">{{ ::lesson.score | number:0 }}</div>
      <div class="label">Time:</div>
      <div class="time">{{ ::lesson.duration | msToTimeSpan }}</div>
    </div>

    <nvd3 options="chartOptions" data="chartData"></nvd3>

    <button class="button button-balanced icon ion-share share" ng-click="share()"> Share</button>

  </ion-content>
</ion-view>
