<ion-view title="Lesson">
  <ion-content padding="true" class="lesson">

    <div class="info">
      <div class="label">Your score:</div>
      <div class="score">{{ ::lesson.score | number:0 }}</div>
      <div class="label">Time:</div>
      <div class="time">{{ ::lesson.duration | msToTimeSpan }}</div>
    </div>

    <canvas class="chart chart-line" chart-data="chartData" chart-labels="chartLabels" chart-options="
      {
        tooltipTemplate: '<%= value.toFixed(0) %>',
        scaleOverride: true,
        scaleSteps: 6,
        scaleStepWidth: 10,
        scaleStartValue: 0,
      }
    "></canvas>

    <button class="button button-balanced icon ion-share" ng-click="share()"> Share</button>

    <br> <!-- TODO: CSS? -->

  </ion-content>
</ion-view>
