<ion-view hide-nav-bar="true" title="Last lesson">
  <ion-content padding="true">


    <center>
      <small>Your score:</small>
      <h1>{{ score }}</h1>
      <small>Time:</small>
      <h1>{{ duration | msToTimeSpan | date:'HH:mm:ss' }}</h1>
    </center>

    <br>

    <canvas class="chart chart-line" chart-data="data" chart-labels="labels"></canvas>

    <div class="button-bar">
      <button class="button button-positive button-block icon ion-social-facebook"></button>
      <button class="button button-assertive button-block icon ion-social-googleplus"></button>
      <button class="button button-calm button-block icon ion-social-twitter"></button>
    </div>

  </ion-content>
</ion-view>
