<ion-view title="Start">
  <ion-content padding="true" class="start" ng-class="running ? 'running' : 'not-running'">

    <div ng-hide="running" class="illustration">
      <img src="img/jumping.png" alt="" ng-show="sport == 1">
      <img src="img/running.png" alt="" ng-show="sport == 2">
      <img src="img/cycling.png" alt="" ng-show="sport == 3">
    </div>

    <div class="button-bar" ng-hide="running">
      <button ng-disabled="!connected" ng-click="changeSport(1)" ng-class="{'button-outline button-dark': sport != 1}" class="button button-small button-balanced">jumping</button>
      <button ng-disabled="!connected" ng-click="changeSport(2)" ng-class="{'button-outline button-dark': sport != 2}" class="button button-small button-royal">running</button>
      <button ng-disabled="!connected" ng-click="changeSport(3)" ng-class="{'button-outline button-dark': sport != 3}" class="button button-small button-energized">cycling</button>
    </div>

    <div ng-hide="!running">
      <div class="trophy" ng-class="{'trophy--bronze': rules.getByColor('bronze').state === 1, 'trophy--silver': rules.getByColor('silver').state === 1, 'trophy--gold': rules.getByColor('gold').state === 1}"></div>
      <canvas id="confetti"></canvas>
      <div class="score">
          <div class="score__text">
              <div class="label">Your score:</div>
              <div class="score" ng-class="{'score--tens': ( lesson.score | sumScore ) > 9, 'score--hundreds': ( lesson.score | sumScore ) > 99}" animate-on-change="lesson.score | sumScore">{{ lesson.score | sumScore | number:0 }}</div>
          </div>
          <div class="score__bar score__bar--first">
              <svg id="svg" width="120" height="120" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle class="{{ circles.first.color }}" id="bar" r="55" cx="60" cy="60" fill="transparent" stroke-dasharray="345.58" stroke-dashoffset="{{ circles.first.bar }}"></circle>
              </svg>
          </div>
          <div class="score__bar score__bar--second">
              <svg id="svg" width="150" height="150" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle class="{{ circles.second.color }}" id="bar" r="65" cx="75" cy="75" fill="transparent" stroke-dasharray="408.41" stroke-dashoffset="{{ circles.second.bar }}"></circle>
              </svg>
          </div>
          <div class="score__bar score__bar--third">
              <svg id="svg" width="180" height="180" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <circle class="{{ circles.third.color }}" id="bar" r="76" cx="90" cy="90" fill="transparent" stroke-dasharray="477.52" stroke-dashoffset="{{ circles.third.bar }}"></circle>
              </svg>
          </div>
      </div>

      <div class="label">Time:</div>
      <div class="time">{{ getDuration() | msToTimeSpan }}</div>
    </div>

    <div ng-hide="connected" class="reconnecting">
      <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
      <p ng-switch on="status">
        <span ng-switch-when="reconnecting">Reconnecting</span>
        <span ng-switch-when="enabling">Enabling bluetooth</span>
        <span ng-switch-when="scanning">Scanning</span>
        <span ng-switch-when="connecting">Connecting</span> ...
      </p>
    </div>

    <button ng-click="start()" ng-hide="running" ng-disabled="!connected || sport == 3" ng-class="{'button-balanced': sport == 1, 'button-royal': sport == 2, 'button-energized': sport == 3}" class="ion-ios-play start-stop start button button-block icon-left">
      {{ sport == 3 ? 'Coming soon' : 'Start' }}
    </button>
    <button ng-click="stop()" ng-hide="!running" ng-disabled="!connected" class="ion-stop button-assertive start-stop stop button button-block button-large icon-left">End lesson</button>

    <button ng-click="showEvents($event)" ng-hide="running || !isLoggedIn()" ng-disabled="!connected" class="event button button-block icon-left ion-person-stalker" ng-class="{'button-outline button-dark': !event, 'button-balanced': sport == 1, 'button-royal': sport == 2, 'button-energized': sport == 3}">
      {{ event ? event.name : 'Join event' }}
    </button>

  </ion-content>
</ion-view>
