<ion-view title="Settings">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        Websocket extreme publishing
      </div>
      <label class="item item-input">
        <span class="input-label">IP</span>
        <input type="text" ng-model="websocket.ip">
      </label>
      <label class="item item-input">
        <span class="input-label">Port</span>
        <input type="number" ng-model="websocket.port">
      </label>
      <a ng-click="toggleSubscribeExtremes()" class="item {{ extremesSubscribed ? 'assertive' : 'balanced' }}">{{ extremesSubscribed ? 'Stop' : 'Start' }} publishing</a>
    </div>

    <div class="list">
      <a class="item dark" ui-sref="main.developer">Developer tools</a>
    </div>

  </ion-content>
</ion-view>
