<ion-view title="Password reset">
  <ion-content padding="true" class="has-header">

    <form name="f" novalidate ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
      <div class="list card">
        <label class="item item-input">
          <span class="input-label">Email:</span>
          <input name="email" type="email" required ng-model="user.email">
        </label>
      </div>

      <button class="button button-balanced button-block" ng-disabled="f.$invalid" ng-click="reset()">Reset my password</button>

    </form>

  </ion-content>
</ion-view>
