<ion-view title="Scanning" hide-nav-bar="true">
  <ion-content scroll="false" class="scanning">

    <div class="status">
      <div class="text shadow">{{ status }}</div>
      <ion-spinner ng-hide="!working" icon="lines" class="spinner-balanced"></ion-spinner>
      <button ng-hide="working" ng-click="tryAgain()" class="button button-balanced button-block">Try again</button>
    </div>

    <div ng-if="ignoredDevices" class="ignored">
      <p>
        {{ ignoredDevices }} previously ignored
        <ng-pluralize count="ignoredDevices" when="{1: 'Experience', 'other': 'Experiences'}"></ng-pluralize>
        found.
      </p>
      <button ng-click="clearIgnored()" class="button button-small button-outline button-light">Start over</button>
    </div>


    <div class="demo">
      <button ng-click="demo()" class="button button-small button-outline button-light">Demo mode</button>
    </div>

  </ion-content>
</ion-view>
