<ion-view title="Scanning" hide-nav-bar="true">
  <ion-content padding="true" scroll="false" class="scanning">

    <div class="status">
      <div class="text shadow">{{ status }}</div>
      <ion-spinner ng-hide="!working" icon="lines" class="spinner-balanced"></ion-spinner>
      <button ng-hide="working" ng-click="tryAgain()" class="button button-balanced button-block">Try again</button>
    </div>

    <div ng-if="ignoredDevices" class="ignored">
      <p>
        {{ ignoredDevices }} previously ignored FXE found.
      </p>
      <button ng-click="clearIgnored()" class="button button-small button-outline button-dark">Start over</button>
    </div>


    <div class="demo">
      <button ng-click="gotoJumping()" class="button button-small button-outline button-dark">Demo mode</button>
    </div>

  </ion-content>
</ion-view>
