<ion-view title="Welcome">
  <ion-content padding="true" scroll="false" class="welcome">
    <div class="inner">

      <img src="img/logo.png" alt="logo" class="logo">

      <div class="buttons">
        <button ng-click="loginFacebook()" class="button button-positive button-block icon-left ion-social-facebook">Use Facebook account</button>
        <button ng-click="loginGoogle()" class="button button-assertive button-block icon-left ion-social-google">Use Google account</button>
        <a ui-sref="create-account" class="button button-balanced button-block">Use Jumping account</a>
        <a ui-sref="scanning" class="button button-block button-clear button-dark">Login later</a>
      </div>

    </div>
  </ion-content>
</ion-view>
