<ion-view title="Friends">
  <ion-content padding="true" class="friends">

    <div class="row button-bar range-bar" ng-show="loggedIn">
      <button ng-click="changeRange('last')" ng-class="{'button-outline': range != 'last'}" class="col button button-small button-light">last lesson</button>
      <button ng-click="changeRange('week')" ng-class="{'button-outline': range != 'week'}" class="col button button-small button-light">week</button>
      <button ng-click="changeRange('month')" ng-class="{'button-outline': range != 'month'}" class="col button button-small button-light">month</button>
    </div>

    <p class="login-request" ng-show="!loggedIn">Please login to start competiting with friends.</p>
    <a ng-click="goto('welcome')" class="button button-block button-balanced" ng-show="!loggedIn">Login</a>

    <div class="card list" ng-show="loggedIn">
      <div class="item item-divider">
        Scoreboard
      </div>
      <div class="item item-avatar dark" ng-repeat="(id, person) in friends | orderByScoreDesc:range">
        <img ng-src="{{ ::person.picture }}" alt="avatar">
        <h2 class="dark">{{ ::person.name }}</h2>
        <p>
          <strong>
            {{ person.score[range] || 0 | number:0 }}
            <ng-pluralize count="person.score[range]" when="{1: 'point', 'other': 'points'}"></ng-pluralize>
          </strong>
          <span ng-switch on="range">
            <span ng-switch-when="last">from last lesson</span>
          <span ng-switch-when="week">this week</span>
          <span ng-switch-when="month">this month</span>
          </span>
        </p>
      </div>
      <p class="item dark no-result" ng-show="loggedIn && friends.length == 0">None of your friends is using Experience.</p>
    </div>


  </ion-content>
</ion-view>
