<ion-view title="Developer">
  <ion-content padding="true" class="settings">

    <div class="card">
      <div class="item item-divider">Device</div>
      <a ng-click="getBatteryLevel()" class="item">Get battery level</a>
      <a ng-click="disconnect()" class="item">Disconnect</a>
      <a ng-click="reconnect()" class="item">Reconnect</a>
      <a ng-click="disableConnectionHolding()" class="item">Disable connection holding</a>
      <a ng-click="upgradeFirmware()" class="item">Upgrade firmware</a>
      <a ng-click="unpair()" class="item assertive">Unpair</a>
    </div>

    <button ng-click="clearAll()" class="button button-assertive button-block">Clear all &amp; reset application</button>

  </ion-content>
</ion-view>
