<ion-view title="Developer">
  <ion-content padding="true" class="settings">

    <div class="card">
      <div class="item item-divider">
        Websocket extreme publishing
      </div>
      <label class="item item-input">
        <span class="input-label">IP</span>
        <input type="text" ng-model="websocket.ip">
      </label>
      <label class="item item-input">
        <span class="input-label">Port</span>
        <input type="number" ng-model="websocket.port">
      </label>
      <a ng-click="toggleSubscribeExtremes()" class="item {{ extremesSubscribed ? 'assertive' : 'balanced' }}">{{ extremesSubscribed ? 'Stop' : 'Start' }} publishing</a>
    </div>

    <button ng-click="getBatteryLevel()" class="button button-block">Get battery level</button>

    <button ng-click="dumpDB()" class="button button-block">Dump DB to remote server</button>

    <p><strong>Warning</strong>, no confirmation!</p>

    <button ng-click="unpair()" class="button assertive button-block">Unpair device</button>

    <button ng-click="clearAll()" class="button button-assertive button-block">Clear all &amp; reset application</button>

  </ion-content>
</ion-view>
