<ion-view title="Settings">
  <ion-content padding="true" scroll="true" class="has-header settings">

    <div class="card">
      <jump-account user="user" title="My jumping account"></jump-account>
    </div>

    <div class="card list">
      <a class="item dark" href="#" onclick="window.open('http://www.jumpingshop.cz/?lang=en', '_system')">E-shop</a>
      <a class="item dark" href="#" onclick="window.open('http://www.jumping-fitness.com/contacts', '_system')">Support</a>
      <a class="item dark" ui-sref="main.about">About</a>
      <a class="item dark" ui-sref="main.developer">Developer tools</a>
    </div>

  </ion-content>
</ion-view>
