<ion-view title="Settings">
  <ion-content padding="true" scroll="true" class="has-header settings">

    <a ng-click="goto('scanning')" class="button button-block button-balanced" ng-show="!paired">Connect your FXE</a>
    <a ng-click="goto('welcome')" class="button button-block button-balanced" ng-show="!loggedIn">Login</a>

    <div class="card" ng-show="loggedIn">
      <jump-account user="user" title="My jumping account"></jump-account>
    </div>

    <div class="card list">
      <a class="item" onclick="window.open('http://www.jumpingshop.cz/?lang=en', '_system')">E-shop</a>
      <a class="item" onclick="window.open('http://www.jumping-fitness.com/contacts', '_system')">Support</a>
      <a class="item" ui-sref="main.about">About</a>
      <a class="item" ui-sref="main.developer">Developer tools</a>
    </div>

  </ion-content>
</ion-view>
