<ion-view hide-nav-bar="true" title="Jump!">
  <ion-content padding="true" scroll="false">

    <a ng-click="start()" ng-disabled="!connected" class="button button-royal button-block button-large icon-left ion-ios-play">Start jumping!</a>
    <a ng-click="join()" ng-disabled="!connected" class="button button-royal button-outline button-block icon-left ion-person-stalker">Join lesson</a>

    <center ng-if="!connected">
      <ion-spinner></ion-spinner>
      <p>Reconnecting...</p>
    </center>

  </ion-content>
</ion-view>
